.view-report{
    margin : 1.2rem ; 
    
    .card{
        background-color : #fff ; 
        .card-header{
            font-size: 1.2rem ;
            text-transform : capitalize ; 
            font-weight: bolder ; 
        }
        .card-body{
            display: flex  ; 
            flex-direction : column ; 

            .card-title{
                text-align: center ; 
                padding: 1.2rem 0 ; 
                font-size: 4rem ; 
                font-weight: bolder ;
                color: $primary-color ;     
            }
            .btn{
                background : $primary-color ; 
                font-size: 1.2rem ; 
                font-weight: bolder ;
                color: #fff ; 

                &:hover {
                    opacity: .8 ;
                }
            }
        }
    }
}