.btn-controls{
    display: flex ; 
    align-items: center ; 
    gap : 1.2rem ; 

    button{
        background: none ; 
        border: none ; 

        &:hover {
            opacity: .8 ; 
        }

        i{
            font-size: 2rem ; 
        }

        & .fa-star{
            color: yellow ; 
        }

        & .fa-archive{
            color: rgb(211, 108, 23) ; 
        }

        & .fa-trash{
            color : rgb(235, 32, 32) ; 
        }
    }
}