.settings-section{
    margin: 1.2rem ; 
    .row{
        flex-wrap: wrap-reverse ; 
    }

    .settings-general{
        .settings-general_heading{
            text-transform : capitalize ; 
        }
        .settings-general_form{
            margin-top: 1.2rem; 
            label{
                font-size: 1.6rem ; 
            }
            input{
                font-size: 1.6rem ; 
            }
        }
    }
}