$primary-color: #ec2229;
$background-color: #f9f9f9;
$background-header: #f7f7f7;
$bg-card-audio : #d1cccc ; 
$bg-home-card: #f7f7;
$background-button: #ffeaed;
$text-color: #000;
$sub-text-color: rgba(34, 34, 34, 0.7);
