/* Mixin */
/* Set các giá trị với màn hình tương ứng */
$mobile-width: 574px;
$tablet-width: 768px;
$desktop-width: 991px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet-mini {
  @media (max-width : #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// text
@mixin setLineText($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// scrollbar

@mixin customScrollBar( $bg-track, $bg-thumb, $bg-thumb-hover) {
    
  // width 
  &::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: $bg-track ; 
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $bg-thumb; 
    border-radius : .7rem ; 
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $bg-thumb-hover; 
  }
}
