$primary-color: #ec2229;
$background-color: #f9f9f9;
$background-header: #f7f7f7;
$bg-sidebar : #262b40 ; 
$bg-card-audio : #d1cccc ; 
$bg-home-card: #f7f7;
$background-button: #ffeaed;
$text-color: #000;
$text-color-sidebar : rgb(234, 237, 242) ; 
$sub-text-color: rgba(34, 34, 34, 0.7);
$bg-active-sidebar : #2e3650 ;
$bg-grey-button :#69717a ; 
$border-sidebar : rgb(76, 86, 128) ; 
$color-scrollbar : rgba(19, 22, 32, 0.744) ;  
$color-scrollbar-hover : rgb(19, 22, 32) ; 
$bg-scrollbar : #262b40 ; 
$bg-card-message : #3797F0 ; 
$bg-success : #04aa6d ; 


// social color variables

$fb-color : #0A80EC ; 
$youtube-color : #F20000 ; 
$instagram-color : #e3512d ; 
$gg-color :#3f7ee8 ; 
$skype-color : #0195da ; 