@import "./Reusables/variables";
@import "./Reusables/mixin";

header {
  box-shadow: 0 0.4rem 0.8rem 0.4rem rgba(0, 0, 0, 0.04);
  background-color: $background-header;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;

  .header-section {
    display: flex;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    position: relative;

    @include mobile {
      padding: 1.2rem;
    }

    .header-logo {
      color: $primary-color;
      font-size: 2.4rem;
      font-weight: bolder;

      @include tablet {
        flex: 1;
        text-align: center;
      }
    }

    .navbar-toggler {
      color: $text-color;
      border-color: $sub-text-color;
      padding: 0.6rem 1.2rem;
      outline: none;
      font-size: 2.4rem;
      border: none;
      display: none;

      @include tablet {
        display: inline-block;
      }

      &:focus {
        box-shadow: 0 0 0.4rem 0.2rem $primary-color;
      }

      &[aria-expanded="true"] ~ .navbar {
        background: #fff;
        box-shadow: 0 0 0.4rem 0.2rem #212529a1;
      }
    }

    .navbar {
      flex: 1;
      display: flex;

      @include tablet {
        position: absolute;
        top: 100%;
        left: 0;
        padding: 1.2rem;
        min-width: 32rem;
        z-index: 900;
      }

      @include mobile {
        width: 100%;
      }

      .navbar-nav {
        margin: 0 auto;
        .nav-item {
          margin: 0 0.4rem;
          .nav-link {
            font-size: 1.6rem;
            font-weight: 500;
            color: $text-color;
            border-bottom: 0.1rem dashed #eee;
          }

          &:hover {
            text-decoration-color: $primary-color;
            text-decoration: underline;
          }
        }
      }

      form {
        margin-right: 1.2rem;

        .form-control {
          font-size: 1.6rem;
          color: $text-color;
          border-color: $sub-text-color;
        }
        button {
          font-weight: bolder;
          font-size: 1.4rem;
          text-transform: uppercase;
          color: $sub-text-color;
          border-color: $sub-text-color;
        }
      }
    }

    .header-login {
      font-size: 2rem;
      color: $text-color;
      border: 0.2rem solid $primary-color;
      border-radius: 0.8rem;
      padding: 0.8rem 1.2rem;
      background-color: $background-color;
      cursor: pointer;

      &:hover {
        background: #fff;
        color: $primary-color;
        border-color: $text-color;
      }
    }
  }
}
